* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root, html {
  font-size: 20px;
  font-family: 'Noto Sans HK', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  justify-content: center;
  align-content: center;
  justify-items: center;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
  z-index: -1;
  padding: 2rem;
  transition: all 200ms ease-out;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.navbar a {
  font-size: 3rem;
  color: white;
  position: relative;
}

.navbar a:visited {
  color: white;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: red;
  height: 50%;
  width: 0%;
  overflow: hidden;
  z-index: -1;
}

.navbar a:hover::after {
  width: 100%;
  transition: all 300ms ease;
}

.navbar-toggle {
  position: fixed;
  z-index: 10;
  font-size: 1.5rem;
  transform: rotate(90deg);
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.navbar-hide {
  visibility: hidden;
  transform: translateX(100vw);
  opacity: 0;
}

.navbar-show {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
  z-index: 3;
}

.landing {
  grid-area: 1 / 1 / 2 / 3;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(150, 225, 255); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing h1 {
  font-size: 4.8rem;
}

.landing h3 {
  padding: 1rem;
  /* background-color: rgb(150, 225, 255); */
}

.scroll-arrow {
  font-size: 2rem;
  color: black;
  justify-self: flex-end;
  position: absolute;
  bottom: 20px;
  animation: bounce 2s ease-out infinite;
}

@keyframes bounce {
  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.about {
  grid-area: 2 / 1 / 3 / 2;
  padding: 1rem 3rem;
  color: #333;
  max-width: 90%;
}

.gradient-border {
  background: linear-gradient(35deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 3px;
  border-top-left-radius: 10px;
  margin: 0 auto 2rem auto;
}

.gradient-border > * {
  background-color: white;
  transform: translate(5px, 5px);
}

.about h2 {
  text-align: left;
  padding-left: 1rem;
}

.about p {
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 1rem;
  border-top-left-radius: 10px;
}

.face {
  grid-area: 2 / 2 / 3 / 3;
}

.face img {
  height: auto;
  max-width: 100%;
  align-self: center;
  border-radius: 25px;
}

.education {
  grid-area: 3 / 1 / 4 / 2;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
}

.education p {
  font-size: 1.4rem;
}

.education img {
  width: 10rem;
}

.skills {
  grid-area: 3 / 2 / 4 / 3;
  margin: 2rem auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
}

.skills h2 {
  padding-left: 1rem;
  align-self: flex-start;
}

.skills .gradient-border div {
  text-align: center;
  padding: 1rem 0.5rem;
}

.skills img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  display: inline-block;
}

.projects {
  grid-area: 4 / 1 / 5 / 3;
  margin-top: 4rem;
}

.projects h2 {
  font-size: 2.4rem;
  padding-left: 1rem;
}

.project-container {
  max-width: 100%;
}

.projects img {
  width: 2rem;
  height: 2rem;
}

.projects h3 {
  margin-bottom: 1.5rem;
}

.projects h3 a {
  color: black;
  font-size: 2.6rem;
  padding: 0 0.5rem;
  border-bottom-right-radius: 10px;
  border-right: 8px solid red;
  border-bottom: 8px solid orangered;
}

.projects h3 a:visited {
  color: black;
}

.projects p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
}

.projects ul {
  margin: 1rem 0;
  padding-left: 1rem;
}

.projects ul li {
  list-style: none;
  padding-left: 1rem;
  border-left: 5px solid black;
  margin-top: 0.5rem;
}

.projects .technologies ul {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}

.projects .technologies ul li {
  border: none;
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.projects .link-container {
  margin-top: 2rem;
  padding-left: 1rem;
}

.projects .link-container a {
  margin-right: 0.5rem;
}

.contact {
  grid-area: 5 / 1 / 6 / 3;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.contact img {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  border-radius: 50%;
  background-color: rgb(200, 230, 230);
  padding: 1rem;
}

.contact img:hover {
  background-color: rgb(255, 130, 230);
  transform: scale(1.2);
  transition: transform 100ms ease, background 500ms ease;
}

@media only screen and (max-width: 800px) {
  :root, html {
    font-size: 16px;
  }
  .landing {
    grid-area: 1 / 1 / 2 / 7;
  }
  .face {
    grid-area: 2 / 1 / 3 / 7;
  }
  .about {
    grid-area: 3 / 1 / 4 / 7;
  }
  .education {
    grid-area: 4 / 1 / 5 / 7;
  }
  .skills {
    grid-area: 5 / 1 / 6 / 7;
  }
  .projects {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-area: 6 / 1 / 7 / 7;
  }
  .contact {
    grid-area: 7 / 3 / 8 / 5;
  }
}

@media only screen and (max-width: 480px) {
  :root, html {
    font-size: 12px;
  }
}