:root {
  --white: #Fefefe;
  --detail-border-color: #222;
  --link-background-color: rgb(197, 169, 241);
  --pink: rgb(255, 162, 162);
  --technologies-background-color: rgb(253, 160, 102);
  --project-details-background-color: rgb(255, 211, 90);
  --body-color: rgb(240, 120, 1);
  --subheading-background-color: rgb(7, 43, 250);
  --subheading-color: var(--subheading-text-shadow-color);
  --content-container-background-color: rgb(240, 240, 240);
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--body-color);
  max-width: 100vw;
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: "Noto Sans HK", monospace, Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  left: 100vw;
  transition: all 0.3s ease-in;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav a {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  white-space: nowrap;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid white;
}

nav a:hover, nav a:hover::after {
  color: var(--pink);
  border-color: var(--pink);
}

img {
  max-width: 100%;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 1rem;
  padding: 0 1rem;
}

.content-container {
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--content-container-background-color);
  box-shadow: 2px 2px 5px -3px black, -2px 2px 5px -3px black;
  margin: 1rem 2rem;
}

.navbar-show {
  left: 0;
  transition: all 0.3s ease-in;
}

.navbar-show a {
  opacity: 1;
  right: 0;
  transition: opacity 1500ms ease, 
              width 800ms ease;
}

.navbar-show a:hover::after {
  width: 100%;
  transition: width 600ms ease;
}

.navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transform: rotate(90deg);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-auto-rows: max-content;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.landing {
  font-size: 5rem;
  grid-area: 1 / 1 / 2 / 3;
  height: 100vh;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.landing .content-container {
  padding: 3rem;
}

.landing h3 {
  font-size: 2rem;
}

.landing .scroll-arrow {
  position: absolute;
  bottom: 5rem;
  text-decoration: none;
  transform: rotate(180deg);
  color: black;
  font-size: 3rem;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0% {
    bottom: 5rem;
  }

  50% {
    bottom: 3rem;
  }

  100% {
    bottom: 5rem;
  }
}

.face {
  grid-area: 2 / 1 / 3 / 3;
  text-align: center;
  margin-bottom: 1rem;
}

.face img {
  border-radius: 20px;
  max-width: 80%;
}

.about {
  grid-area: 3 / 1 / 4 / 3;
  margin: 2rem;
  width: 100%;
}

.subheading {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
  display:inline-block; 
  background-color: var(--subheading-background-color);
  box-shadow: 2px 2px 5px -3px black, -2px -1px 5px -3px black;
  padding: 1rem 3rem;
  border-radius: 100px;
}

.subheading-container {
  text-align: center;
  position: relative;
  top: 3rem;
}

.education {
  grid-area: 4 / 1 / 5 / 3;
  width: 100%;
}

.education .logo {
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
}

.education img {
  max-width: 150px;
  margin-top: 1rem;
}

.education p {
  font-size: 1.6rem;
}

.skills {
  grid-area: 5 / 1 / 6 / 3;
  margin-top: 2rem;
  width: 100%;
}

.skills .content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  margin: 1rem 2rem;
}

.skills img {
  max-width: 50px;
  max-height: 50px;
  margin: 1rem;
}

.projects {
  grid-area: 6 / 1 / 7 / 3;
  margin-top: 3rem;
}

.projects .project-container {
  max-width: 100%;
  margin: 1rem 2rem;
}

.projects .project-container + .project-container {
  margin-top: 1rem;
}

.project-container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: monospace;
}

.project-container h3 a {
  text-decoration: none;
  color: var(--dark-pink);
  text-transform: uppercase;
  position: relative;
}

.project-container h3 a::after, .project-container h3 a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transition: border-width 100ms ease-out;
}

.project-container h3 a:hover::before {
  left: -10px;
  bottom: 0;
  border-left: 5px solid var(--pink);
  border-bottom: 5px solid var(--pink);
}

.project-container h3 a:hover::after {
  right: -10px;
  top: 0;
  border-top: 5px solid var(--pink);
  border-right: 5px solid var(--pink);
}

.project-container p {
  padding: 0.5rem;
  font-size: 1.6rem;
}

.project-image {
  max-width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: black;
}

.project-container .details {
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
  background-color: var(--project-details-background-color);
}

.project-container h4 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.project-container ul {
  font-size: 1.2rem;
  list-style-type: none;
}

.project-container ul li {
  padding-left: 1rem;
  margin: 1rem 0;
  white-space: wrap;
  border-left: 5px solid var(--detail-border-color);
}

.project-container .technologies ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.project-container .technologies li {
  border-left: none;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background-color: var(--technologies-background-color);
  color: black;
  margin: 0.3rem;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.project-container .link-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.project-container .link-container a {
  margin: 0 0.5rem;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--link-background-color);
  width: 25%;
  max-width: 100px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.project-container .link-container a:hover {
  background-color: var(--pink);
}

.project-container .link-container a img {
  width: 15px;
}

.contact {
  width: 100%;
  margin-bottom: 2rem;
}

.contact .content-container {
  display: flex;
  justify-content: center;
}

.contact .contact-link {
  padding: 1rem;
  margin: 2rem 1.5rem;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
}

.contact .contact-link:hover {
  background-color: var(--pink);
}

.contact .contact-link img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: inline-block;
}

@media only screen and (min-width: 860px) {

  .container, .contact {
    max-width: 950px;
    margin: 0 auto;
  }

  .container > * {
    margin: 0;
  }

  .contact .contact-link {
    padding: 2rem;
    margin: 1rem 2rem;
  }

  .about {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: left;
    max-width: 60%;
    margin: 0;
    align-self: flex-start;
  }

  .face {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .face img {
    max-height: 300px;
  }

  .education {
    grid-area: 3 / 1 / 3 / 2;
  }

  .skills {
    grid-area: 3 / 2 / 4 / 3;
  }

  .projects {
    grid-area: 4 / 1 / 5 / 3;
    max-width: 75%;
  }
}