* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
}

:root, html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: right;
  width: 100%;
  z-index: 4;
  border-bottom: 2px solid rgb(240, 150, 255);
  transition: transform 350ms ease;
}

a:hover::after {
  transform: scale(1);
}

.container {
  display: grid;
  grid-template-areas:
    "Landing Landing"
    "About Face"
    "Education Education"
    "Skills Skills"
    "Projects Projects"
    "Contact Contact";
  width: 100%;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  padding: 10rem 2rem;
  background-color: rgba(29, 30, 31, 0.9);
  z-index: 2;
  transition: opacity 0.3s linear, transform 0.2s linear, visibility 1s ease;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 5rem;
  display: block;
  margin: 0 1rem;
  position: relative;
  transition: all 500ms ease;
}


.navbar a:visited, .navbar a:active {
  color: #fff;
}


.navbar-toggle {
  font-size: 2.5rem;
  position: fixed;
  padding: 1rem;
  right: 10px;
  top: 10px;
  color: rgb(240, 150, 255);
  z-index: 3; /* So the button is above the navbar links */
  cursor: pointer;
  transition: all 500ms ease;
}

.navbar-rotate {
  transform: rotate(90deg);
}

.navbar-show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms ease;
}

.navbar-hide {
  visibility: hidden;
  transform: translateY(-101vh);
  opacity: 0;
  transition: all 500ms ease;
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 0;
  grid-area: Landing;
}

.landing h1 {
  font-size: 25rem;
  padding-left: 1rem;
  width: 0%;
  overflow: hidden;
  font-style: italic;
  transition: width 1s ease, text-shadow 800ms ease;
}

.landing h1:hover {
  text-shadow: 2px 2px rgba(240, 150, 40, 0.8), 4px 4px rgba(10, 13, 255, 0.8);
}

.landing h3 {
  font-size: 5rem;
  width: 100%;
  opacity: 0;
  transform: translateY(100vh);
  padding-left: 2.5rem;
  transition: 0.5s ease;
}

.face {
  grid-area: Face;
  align-self: center;
  justify-self: center;
  margin: 1rem 2.5rem;
  padding: 2rem;
}

.face img {
  border-radius: 50%;
  max-width: 25rem;
  max-height: 30rem;
  border: 5px solid #333;
  padding: 0;
  opacity: 0;
  transform: translateY(-200px);
  transition: opacity 800ms ease, transform 1000ms ease;
}

.about {
  align-self: center;
  margin: 10rem auto;
  padding: 5rem 1rem;
  color: #333;
  transition: width 500ms ease-in, opacity 800ms ease, transform 1000ms ease;
  grid-area: About;
  opacity: 0;
  transform: translateY(200px);
}

.about h2 {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 3.6rem;
}

.about p {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  font-size: 2.4rem;
  transition: width 800ms ease-in;
}

.education {
  width: 100%;
  height: 100%;
  grid-area: Education;
  margin: 5rem 0;
  opacity: 0;
  transform: translateY(200px);
  transition: all 500ms ease-in;
}

.education h2 {
  font-size: 3.6rem;
  text-align: center;
  margin: 0 auto;
}

.education .logo {
  position: relative;
  padding: 10rem;
  margin: 2rem 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  color: white;
  transition: all 500ms ease-in;
}

.education .logo::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  transform: rotate(45deg);
  z-index: -1;
  background-image: linear-gradient(45deg, #03244d 50%, #dd550c 50%);
}

.education ul li{
  font-size: 2.4rem;
  margin: 1rem auto;
  text-align: center;
  min-width: 50%;
  max-width: 80%;
  list-style: none;
}

.au-logo {
  width: 25vw;
  height: 10vh;
  display: block;
  margin: 0 auto;
}

.education a::after {
  content: none;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  text-align: center;
  align-self: center;
  grid-area: Skills;
}

.skills h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  color: #333;
  font-style: italic;
  opacity: 0;
  transition: all 500ms ease;
}

.skills img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 1rem;
  padding: 1rem;
  display: inline-block;
  background-size: 7.5rem 7.5rem;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 500ms ease;
}

.skills img:hover {
  transform: scale(2.0);
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  grid-area: Projects;
  padding: 5rem;
  background: rgb(29, 30, 31);
  grid-column: 1 / 4;
  transition: all 1000ms ease-in-out;
  transform: translateY(101vh);
}

.projects h2 {
  color: #fff;
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 5rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, min-content));
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}

.project-container {
  padding: 2rem;
  width: 100%;
  color: #333;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  transform: scale(1.1);
  transition: all 250ms ease;
}

.project-container h3 {
  font-size: 3.6rem;
  text-align: center;
}

.project-container h3 a {
  text-decoration: none;
  position: relative;
}

.project-container h3 a:visited {
  color: inherit;
}

.link-container a::after {
  content: none;
}

.link {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.link-container {
  width: 100%;
  margin-top: 1rem;
  text-align: right;
}

.project-container p {
  line-height: 1.5;
  font-size: 2rem;
  margin-top: 2rem;
}

.project-container > ul {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.6rem;
}

.project-container > ul li {
  list-style: none;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  border-left: 5px solid rgb(240, 150, 255);
}

.project-container video {
  margin-top: 2rem;
  width: 100%;
}

.technologies {
  width: 100%;
  margin-top: 2rem;
}

.technologies ul {
  display: flex;
}

.technologies ul li {
  list-style: none;
  background: rgb(29, 30, 31);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.contact {
  grid-area: Contact;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.contact div {
  padding: 1.2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(220, 220, 220);
  margin: 0 1rem;
  transition: all 500ms ease;
}

.contact img {
  width: 100%;
  height: 100%;
  color: black;
}

.contact div:hover {
  transform: scale(1.2);
  background-color: rgb(240, 150, 255);
}

.contact a::after {
  content: none;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 480px) {
  :root, html {
    font-size: 7px;
  }

  .landing h1 {
    font-size: 15rem;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  :root, html {
    font-size: 8px;
  }

  .landing h1 {
    font-size: 20rem;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-areas:
      "Landing"
      "Face"
      "About"
      "Education"
      "Skills"
      "Projects"
      "Contact";
  }

  /* .landing {
    position: relative;
  } */

  /* .landing h1:nth-child(1) {
    position: absolute;
    bottom: 40%;
    font-size: 15rem;
  }

  .landing h1:nth-child(2) {
    position: absolute;
    bottom: 10%;
    font-size: 15rem;
  }

  .landing h3 {
    position: absolute;
    left: 10px;
    bottom: 10px;
  } */

  .about {
    background: rgb(29, 30, 31);
    color: #fff;
  }

  .about, .skills {
    margin: 0;
  }

  .projects-list {
    grid-template-columns: 1fr;
  }

  .link {
    width: 5rem;
    height: 5rem;
  }
}
